.footer {
  border-top: 1px solid lightgray;
  padding: 2rem;
  background-color: #f7f5e8;
}
.bottom-footer {
  background-color: var(--purple);
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 1rem;
  font-size: 12px;
  color: white;
  font-weight: 500;
}

.footer ul li {
  color: rgba(0, 0, 0, 0.758);
}

.footer ul li a {
  color: rgba(0, 0, 0, 0.758);
  text-decoration: none;
  line-height: 30px;
}

.footer-icon {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.758);
  margin-bottom: 10px;
}

.icon-section {
  text-align: center;
  max-width: 50%;
  margin: 2rem auto 0rem auto;
}


.footer-text {
  font-size: 12px;
}

.social-icons{
  display: flex;
  gap: 20px;
}


.social-icons .bi-facebook{
  color: #1877f2;
  font-size: 30px;
}

.social-icons .bi-youtube{
  color: red;
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  .google-button , .facebook-button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 20px !important;
  }
  .footer {
    padding: 1rem 0rem;
  }
  .icon-section {
    max-width: 100%;
    margin: 1rem 0 0 0;
  }
  .footer-text{
    font-size: 9px;
    margin: 0;
  }
  footer .row .col-md-4{
    margin-bottom: 1rem;
  }
  
.bi-facebook{
  color: white;
  font-size: 20px;
}

.bi-youtube{
  color: red;
  font-size: 20px;
}
}
